.container-fluid{
    border-color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container{
    border-color: black;
    border-style: solid;
    box-shadow: 8px 5px 5px gray;
    margin-bottom: 10px;
}
.name{
    text-align: center;
}
.col-i{
    width: 33%;
    background-color: #597AD9;
    


}
.col-i img{
    border-radius:50%;
    height:150px;
    object-fit:cover;
    width:150px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    
}
.information{
   text-align: left;
   margin-bottom: 15px;
   
}
.col-c{
    width: 67%;
    background-color: #E0F9F4;
    padding-top: 10px;
    
    
}
h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
h4{
    margin-top: 7px;
    margin-bottom: 7px;
}

